adelete/src/main/mule/adelete.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="86b18bd3-1176-4264-91e7-a5349bed04f5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="de0bfbb5-cc50-42fe-acc8-668108bd3ea0" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="admin" database="mule" />
	</db:config>
	<flow name="adeleteFlow" doc:id="081563c3-c3ea-43d4-bd70-0ca0a1ccfe52" >
		<http:listener doc:name="Listener" doc:id="18fac7a1-734f-49bb-af9d-a4d870e6c922" config-ref="HTTP_Listener_config" path="/delete"/>
		<set-variable value="#[payload.empid]" doc:name="Set Variable" doc:id="6d973bfc-161f-422b-a6a7-550b7fe1e8bc" variableName="myempid"/>
		<db:delete doc:name="Delete" doc:id="6baecfd6-0bcb-4d8f-9288-62840a438ffa" config-ref="Database_Config">
			<db:sql ><![CDATA[DELETE FROM employee
where empid =:empid]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	empid : vars.myempid
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="9b4039be-0d0e-4f66-a7ef-1c8800e9595f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":  "deleted"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="adeleteFlow1" doc:id="e8215fc2-d941-4852-8c18-3c736b5cdaec" >
		<http:listener doc:name="Listener" doc:id="15898275-40b2-438c-8b1b-28d3cef412f3" config-ref="HTTP_Listener_config" path="/select"/>
		<db:select doc:name="Select" doc:id="8f1a44a7-80fc-457f-8ca2-e20b0c0d1dac" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM employee]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="a38ddae9-54c5-491f-bdb6-3d1ff79d194b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="adeleteFlow3" doc:id="1d4cd9cf-ccf6-4057-8762-8c7042691f4b" >
		<http:listener doc:name="Listener" doc:id="906ca313-9fa7-460c-b572-a9561fe24433" config-ref="HTTP_Listener_config" path="/update"/>
		<db:update doc:name="Update" doc:id="2937e785-7b69-4eab-b8c2-55204d98249d" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE employee
SET ename =:ename
WHERE empid =:empid ;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	ename:payload.ename,
	empid:payload.empid
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="43d06b0f-f19e-4357-8d2d-77eec43408c8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
"updated"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
